name: climate_responsive_iot_irrigation_project
description: "Climate-Responsive IoT-Based Irrigation System"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.5.0
  shared_preferences: ^2.2.2
  mqtt_client: ^10.0.0
  geolocator: ^10.1.0
  fl_chart: ^0.65.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
